# First-stage Proton Kernel init script based from @kdrag0n and modified by @kingbri

on property:sys.boot_completed=1
	exec u:r:magisk:s0 root root -- /init.king_late.sh
	exec u:r:magisk:s0 root root -- /init.sqlite_tweaks.sh

	# Profiles
	setprop fku.profiles 1
	setprop spectrum.support 1
	setprop persist.spectrum.kernel KingKernel

# Profiles
# Bump to execute each profile in a magisk service context since it's permissive (kingbri)

# Make the exec command pass an arg
on property:persist.king.profile=*
	exec u:r:magisk:s0 root root -- /init.king_unified.sh ${persist.king.profile}

# Profile bridges: Franco Kernel Manager
# Update the Spectrum profile, that'll be our primary set
on property:fku.perf.profile=0
	setprop persist.spectrum.profile 2

on property:fku.perf.profile=1
	setprop persist.spectrum.profile 0

on property:fku.perf.profile=2
	setprop persist.spectrum.profile 1

# Profile bridges: Spectrum
# Balanced
on property:persist.spectrum.profile=0
	setprop persist.king.profile balanced

# Performance
on property:persist.spectrum.profile=1
	setprop persist.king.profile performance

# Battery
on property:persist.spectrum.profile=2
	setprop persist.king.profile battery

# Gaming
on property:persist.spectrum.profile=3
	setprop persist.king.profile performance
